@import "tailwindcss";
@import "./theme.css";

@import "./calendar-page.css";

/* Estilos base adicionales si los necesitas */
body {
  @apply font-roboto text-fair-dark bg-fair-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos para react-slick (si los necesitas sobreescribir o añadir) */
.slick-prev:before,
.slick-next:before {
  color: var(--color-fair-primary); 
}